;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

{
  :profiles {:Default {:default true :sim 500 :delay 600 :alone 600 :held 600}}
  :templates {
    :open "open \"%s\""
    :paste "osascript -e '
                        set the clipboard to \"%s\"
                        tell application \"System Events\"
                                keystroke \"v\" using command down
                        end tell
                '"
  }
  :layers {
           :caps-mode {:key :caps_lock :alone {:key :escape}}
           :media-mode {:key :v :alone {:key :v}}
  }
  :simlayers {
              :launch-mode {:key :z}
              :screen-capture {:key :m}
              :toggle-mode {:key :t}
              :window-mode {:key :w}
  }
  :tos {
    :emoji_picker {:key :spacebar :modi [:control :command]}
  }
  :main [
    {
      :des "Single key remaps"
      :rules [
        [:page_up :fn]
      ]
    }
    {
      :des "toggle-mode"
      :rules [
        :toggle-mode
        [:d {:key :d :modi [:left_command :left_option]}]
      ]
    }
    {
      :des "media-mode"
      :rules [
        :media-mode
        [:k :volume_increment]
        [:j :volume_decrement]
        [:m :mute]
      ]
    }
    {
      :des "window-mode"
      :rules [
        :window-mode
        [:p {:key :left_arrow :modi [:control :left_option :right_command]}] ;; previous window
        [:n {:key :right_arrow :modi [:control :left_option :right_command]}] ;; next window
        [:l {:key :right_arrow :modi [:control :left_option]}] ;; right
        [:h {:key :left_arrow :modi [:control :left_option]}] ;; left
        [:k {:key :up_arrow :modi [:control :left_option]}] ;; up 
        [:j {:key :down_arrow :modi [:control :left_option]}] ;; down
        [:c {:key :c :modi [:control :left_option]}] ;; center
        [:m {:key :return_or_enter :modi [:control :left_option]}] ;; maximize
        [:r {:key :delete_or_backspace :modi [:control :left_option]}] ;; reset
        [:y {:key :mission_control }];; mission control
        [:e {:key :down_arrow :modi [:control] }];; app expose
      ]
    }
    {
      :des "screen-capture"
      :rules [
        :screen-capture
        [:z [:!CTOSz]] ; Capture Fullscreen in CleanShot
        [:x [:!CTOx]] ; Capture Area in CleanShot
        [:w [:!CTOw]] ; Capture Window
        [:v [:!CTOSv]] ; Record video in CleanShot
        [:s [:!CTOSs]] ; Capture Scroll Area in CleanShot
      ]
    }
    {
      :des "launch-mode" ; z + key held at the same time
      :rules [
        :launch-mode
        [:g [:open "/Applications/Google Chrome.app"]]
        [:d [:open "/Applications/Discord.app"]]
        [:s [:open "/Applications/Spotify.app"]]
        [:c [:open "/Applications/Visual Studio Code.app"]]
        [:p [:open "/Applications/1Password 7.app"]]
      ]
    }
    {
      :des "caps-mode"
      :rules [
        :caps-mode
        [:h :left_arrow]
        [:j :down_arrow]
        [:k :up_arrow]
        [:l :right_arrow]
      ]
    }
  ]}
